<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Biodata</title>
</head>
<body>
  <nav id="desktop-nav">
    <div class="logo">Primarizki A. Hariyono</div>
    <div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/portofolio">Portofolio</a></li>
        <li><a href="/biodata">Biodata</a></li>
        <li><a href="/fibonacci">Fibonacci Calculator</a></li>
        <li><a href="/csvtojson">View CSV as JSON</a></li>
        <li><a href="/form">Submit Form</a></li>
      </ul>
    </div>
   </nav>

   <div class="biodata-container">
    <header class="biodata-header">
        <h1>Primarizki Ahmad Hariyono</h1>
    </header>

    <section class="basic-info">
        <h2>Informasi Dasar</h2>
        <p><strong>Nama Lengkap:</strong> Primarizki Ahmad Hariyono</p>
        <p><strong>Tempat, Tanggal Lahir:</strong> Sidoarjo, 12 Februari 2005</p>
        <p><strong>Alamat:</strong> Pokoknya ada di Surabaya</p>
        <p><strong>No. Telepon:</strong> +6285257394442</p>
        <p><strong>Email:</strong> primarizkiahmad.h@gmail.com</p>
    </section>

    <section class="career-goal">
        <h2>Tujuan Karier</h2>
        <p>Data Scientist adalah Tujuan Karier saya,
           sebenarnya pekerjaan apapun yang ada hubungannya dengan sains data adalah tujuan saya.</p>
    </section>

    <section class="hobbies">
        <h2>Hobi</h2>
        <p>Hobi saya yang paling utama adalah bermain game. 
          Game yang saya mainkan akhir-akhir ini adalah Minecraft. 
          Selain itu saya suka untuk memasak (jika ibu saya memiliki bahan untuk memasak) dan berlari, lebih tepatnya jogging karena saya belum kuat untuk lari dengan pace cepat hehehe.</p>
    </section>
</div>
</body>
</html>