<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>CV</title>
</head>
<body>
  <nav id="desktop-nav">
    <div class="logo">Primarizki A. Hariyono</div>
    <div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/portofolio">Portofolio</a></li>
        <li><a href="/biodata">Biodata</a></li>
        <li><a href="/fibonacci">Fibonacci Calculator</a></li>
        <li><a href="/csvtojson">View CSV as JSON</a></li>
        <li><a href="/form">Submit Form</a></li>
      </ul>
    </div>
   </nav>
   <div class="cv-container">
    <header class="cv-header">
        <h1 class="cv-title">Primarizki Ahmad Hariyono</h1>
        <p>Surabaya, Jawa Timur</p>
        <p><a href="tel:+6285257394442">+6285257394442</a> | <a href="mailto:primarizkiahmad.h@gmail.com">primarizkiahmad.h@gmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/primarizkihariyono/" target="_blank">LinkedIn</a></p>
    </header>

    <section class="about">
        <h2>Tentang Saya</h2>
        <p>Sebagai seorang pemuda yang penuh semangat dan dedikasi tinggi, saya beraspirasi untuk mencapai kesuksesan sebagai Data Scientist yang luar biasa. Saya percaya bahwa pembelajaran berkelanjutan adalah kunci utama dalam perjalanan karier saya. Oleh karena itu, saya selalu berkomitmen untuk terus mengembangkan pemahaman dan keterampilan saya dalam bidang Data Science. Dengan antusiasme yang tak tergoyahkan dan tekad yang kuat, saya siap menghadapi tantangan dan peluang di bidang ini untuk memberikan kontribusi yang berarti.</p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <h3>Hard Skills:</h3>
        <p>Python, Microsoft Excel, Microsoft Word, Microsoft PowerPoint, R Studio, Canva</p>
        <h3>Soft Skills:</h3>
        <p>Kerja Sama, Kepedulian Terhadap Sesama, Etos Kerja Yang Kuat, Manajemen Waktu, Kemauan Belajar Tinggi, Kolaboratif</p>
    </section>

    <section class="education">
        <h2>Riwayat Pendidikan</h2>
        <h3>IPA | SMAN 20 Surabaya – Surabaya (2020-2023)</h3>
        <ul>
            <li>Lulus dengan nilai rata-rata rapot 89</li>
            <li>Menjadi anggota IT Club Cybertwenty Gen 10</li>
        </ul>
        <h3>Teknologi Sains Data | Universitas Airlangga – Surabaya (2023-sekarang)</h3>
        <ul>
            <li>Mengikuti PKKMB Amerta UNAIR 2023</li>
            <li>Mengikuti PKKMB Karsa FTMM UNAIR 2023</li>
            <li>Mengikuti PKKMB Binary 3.0 Teknologi Sains Data UNAIR 2023</li>
        </ul>
    </section>

    <section class="organization">
        <h2>Pengalaman Organisasi</h2>
        <p>-</p>
    </section>

    <section class="event-experience">
        <h2>Pengalaman Kepanitiaan</h2>
        <h3>Binary 4.0 PKKMB Tingkat Jurusan | Teknologi Sains Data – Surabaya 2024</h3>
        <ul>
            <li>Menjadi Staff Koordinator Lapangan</li>
        </ul>
    </section>
    <button onclick="window.open('static/cv.pdf')" class="download-button">Download CV as PDF</button>
</div>
</body>
</html>